
.expense-item{
    background-color: rgb(141, 141, 141);
    display: flex;
    align-items: center;
    padding: 10px;
    border: 3px solid rgb(79, 79, 79) ;
    border-radius: 10px;
    margin: 10px 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}



#cl{
    border: 3px solid black;
    border-radius: 6px;
    padding: 5px;
    position: relative;
    width: 70px;
    background-color: blueviolet;
}
.expense-item .expense-date{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid rgb(220, 220, 220);
    position: relative;
    width: 70px;
    height: 60px;
    background-color: rgb(39, 38, 38);
    border-radius:10px;
    color: white;   
}

#month{
    position: relative;
    padding-left: 14px;
    padding-top: 6px;
    font-weight: bold;
}
#year{
    font-size: 12px;
    position: relative;
    margin-left: 20px;
}
#day{
    font-weight: bold;
    position: relative;
    margin-left: 22px;
}

.expense-item .expense-item-description{
    
    margin-left:100px;
    position: absolute;
}

.expense-item .expense-amount{
    font-size: 18px;
    color: white;
    
    
    
    
}